extends layout

block content
	section#hero_section
		.container
			h1 Frequently Asked Questions
			//- a(href='/') Learn More

	section#FAQ_test
		.container
			//- h1 FAQ

			button#openAccordions.faq-buttons open all
			button#closeAccordions.faq-buttons.hideAcc close all

			.accFaq(class=pageClass)
				.accFaq-item
					.accFaq-item-header(data-open="hide")
						span.title How much NepaBlast should be used?
					.accFaq-item-content
						p Many companies have a three-stage spraying method. One for preventive, two for moderate, and three for major infestations. A 4 oz. bottle of NepaBlast is diluted to 2 gallons of ready-to-use powdery mildew spray.  This concentration is ready to use on powdery mildew directly, is safe for human contact, and should kill all powdery mildew within three to four applications.  pH adjustment is up to individual users for specific conditions. Plants should be sprayed heavily all over for 2 days to prevent powdery mildew from spreading, skip a day, and spray heavily again on the 4th day.  Powdery mildew should be dead after this treatment. There may be spots where powdery mildew was growing, but those spots should now be flat. If necessary, repeat application depending upon severity of powdery mildew growth. No adverse effects on plants have been noted using this protocol.

				.accFaq-item
					.accFaq-item-header(data-open="hide")
						span.title What's in NepaBlast? Including the active ingredient.
					.accFaq-item-content
						p NepaBlast is a water-based solution with very highly purified (99.9% pure) chlorine dioxide made from two powdery ingredients: component A is 64% sodium chlorite and 36% other ingredients, and component B is 92% sodium bisulfate and 8% other ingredients. 

				.accFaq-item
					.accFaq-item-header(data-open="hide")
						span.title How does the interaction of ingredients in the NepaBlast solution get rid of powdery mildew?
					.accFaq-item-content
						p NepaBlast is a very powerful oxidizing and disinfecting agent that destroys powdery mildew and all other spores, bacteria, viruses, protozoa, fungi, yeast, and algae. NepaBlast attacks their cell membranes and cell walls, making them incompatible with life.

				.accFaq-item
					.accFaq-item-header(data-open="hide")
						span.title Will raising the pH of water make NepaBlast more effective?
					.accFaq-item-content
						p NepaBlast works between pH 4 and pH 11 and does not affect the pH of water that it is dissolved in. The spray can be pH-modified according to the individual grower’s specific conditions.

				.accFaq-item
					.accFaq-item-header(data-open="hide")
						span.title Will spraying methods affect NepaBlast’s efficacy?
					.accFaq-item-content
						p This solution will work whenever it is applied on plants with powdery mildew. You can’t spray too much with the provided concentration.  Directions must be followed to ensure powdery mildew is killed with the lowest effective dosing of NepaBlast.  If too little NepaBlast Blast is used, it is possible that some powdery mildew will survive and cause reinfection of the plant.  

				.accFaq-item
					.accFaq-item-header(data-open="hide")
						span.title Do I need a wetting agent for NepaBlast? 
					.accFaq-item-content
						p NepaBlast does its job well even without a wetting agent. However, NepaBlast works through contact time with powdery mildew. If there is an additive that helps keep the product on the powdery mildew longer, it could be useful.

				.accFaq-item
					.accFaq-item-header(data-open="hide")
						span.title Is there any time interval that needs to pass prior to reentry after spraying with NepaBlast?
					.accFaq-item-content
						p No. NepaBlast is perfectly safe to be in the vicinity with during and after spraying. There should be no adverse effects due to contact with the product.  
				.accFaq-item
					.accFaq-item-header(data-open="hide")
						span.title Can NepaBlast be watered in using drench methods?
					.accFaq-item-content
						p Yes. NepaBlast is water-soluble and will go where the water goes. It can be watered in and is expected to be effective against molds below the soil line.
				.accFaq-item
					.accFaq-item-header(data-open="hide")
						span.title What is the best kind of sprayer to use with NepaBlast?
					.accFaq-item-content
						p Any type of sprayer – whether spray bottle, pressure sprayer, or fogger – is compatible with NepaBlast.  We suggest using the sprayer that is most suitable to the size of the job. NepaBlast application is scalable for the size of the plants to be treated.

				.accFaq-item
					.accFaq-item-header(data-open="hide")
						span.title How does NepaBlast work?
					.accFaq-item-content
						p NepaBlast is a water-soluble product that effectively kills spores, bacteria, viruses, protozoa, fungi, yeast, and algae. If water containing NepaBlast is taken up by plants, the product will kill any unwanted organism that is present. The product, when used at the labeled concentration, will not harm helpful bacteria.

				.accFaq-item
					.accFaq-item-header(data-open="hide")
						span.title Can you use NepaBlast multiple times in a day without harming plants?
					.accFaq-item-content
						p NepaBlast can be used multiple times per day without causing harm to plants as long as it is within labeled concentrations. The product is designed to purify water and can be added to the operational water system every time plants are irrigated. The NepaBlast concentration added to irrigation systems is lower than the concentration used when directly spraying NepaBlast on powdery mildew and killing it on contact.  Once powdery mildew is eliminated, the lower concentration of NepaBlast in irrigation systems will keep any new mildew from growing. 

				.accFaq-item
					.accFaq-item-header(data-open="hide")
						span.title Should I cover myself up when performing spraying duties?
					.accFaq-item-content
						p It is not necessary to use coveralls, goggles, etc. when using NepaBlast at provided concentrations.  If NepaBlast is sprayed directly into eyes, irritation is possible. Skin contact and incidental ingestion are not expected to result in any adverse conditions.