extends layout

block content
	section#hero_section
		.container
			h1 Safe, Innovative, Sustainable Plant Protection
			a(href='#about_section') Learn More
	section#about_section
		.container
			.row
				.col-6.info
					h1 About 
						span NepaBlast
					p The market is rife with subpar powdery mildew treatment products that pose new threats to human health and safety and cause topsoil depletion, air pollution, groundwater contamination, and greenhouse gas emissions.
					p We believe that long-term stewardship of both natural and human resources is of equal importance to short-term economic gain. For us, the health and safety of the environment and its inhabitants come first. It is this steadfast commitment to maximizing crop and plant production without compromising environmental and consumer wellbeing that gave us the drive to create NepaBlast.
					p NepaBlast is a superior water-based, non-toxic, all-natural, contact-based disinfecting solution that uses proprietary Nanomolecular Electronic Polarity Alignment (NEPA) to effectively destroy powdery mildew by balancing out natural botanical pathways to synergize the plant’s ability to fight infection and resist its recurrence.
					p NepaBlast also works on all other plant diseases and pests, including spores, bacteria, viruses, protozoa, fungi, yeast, and algae. This powerful oxidizing and disinfecting agent is perfectly safe and can easily be applied multiple times per day without causing harm to the plant, environment, or consumer.
					p Get rid of stubborn powdery mildew upon contact and yield healthier, happier plants without the need for harmful chemicals with NepaBlast.
					ul
						li ALL-NATURAL
						li ORGANIC
						li CLEAN
						li NON-GMO
						li NON-TOXIC
				.col-6.image
					img(src="/images/about-min.png", alt="")

	section#middle_section
		.container
			.row
				.col-6.image
					img(src="/images/whynepablast-min.png", alt="")

				.col-6.info
					h1 Why Choose 
						span NepaBlast?
					ul
						li 
							i.m-icon check 
							span  Effectively kills powdery mildew in just 4 days
						li 
							i.m-icon check
							span  Ensures healthier, happier plants and optimum yields

						li 
							i.m-icon check
							span  Does not result in added odors or tastes on the plants
						li 
							i.m-icon check
							span  Also works on spores, bacteria, viruses, protozoa, fungi, yeast, and algae
						li 
							i.m-icon check
							span  Does not harm helpful bacteria
						li
							i.m-icon check
							span  Safe to use multiple times per day
						li
							i.m-icon check
							span  Water-soluble, non-toxic, all-natural, organic
						li
							i.m-icon check
							span  Consumer- and environment-safe
						li
							i.m-icon check
							span  EPA-, EU-, USDA-, and NSF-approved

	//- section#footer_section
	//- 	.container
	//- 		//- p For further questions, call toxicologist Dr. Joe Nieusma at 303-877-3684.
	//- 		p Copyright &copy; 2018 NepaBlast | Powered by 
	//- 			a(href='https://www.dnamicro.com/') {dna:micro}

