extends layout

block content
	section#banner-section.banner-section
		.container
			.row
				.column-6 
					h1.banner-section__header-text Help these 
												span.banner-header__text--highligted endangered 
												| animals 
												span.banner-header__text--colored survive.
					.row
						.column-1.banner-section__text
							p Donate now or Join the Cause 
							p Be the first to help these animals
				
					.row
						.banner-section__button
							button.banner-section__btn.banner-section__btn--donate Donate Now!
							button.banner-section__btn.banner-section__btn--join Join Now
		
				.column-6
					.banner-section__image
						img(src="./images/penguini.jpg", alt="")


	section.movement-section
		.container
			.row
				.column-6
					.movement-section__image
						img(src="./images/brazil.jpg", alt="")

				.column-6
					h1.movement-section__header-text
						span.movement-section__header__text--highligted A global movement 
						| of young people making 
						span.movement-section__header__text--colored positive change
						
					.row
						.column-1
							p Lorem ipsum dolor sit amet, consectvetur adipisicing elit. Enim minus commodi illum, quidem, a deserunt,recusandae magnam repellendus, pariatur accusan-tium tempore! Facere deleniti odit libero minus, repu-diandae maxime tenetur, ipsam error tempore.
					.row
						.column-1
							a(href="/").movement__link Learn More


	section.species-section
		.container
			.row

				.column-6
					h1.species-section__header-text
						span.species__header-text--highligted We focus on saving 
						| certain species that help sustainother species.
						
					.row
						.column-1
							p Lorem ipsum dolor sit amet, consectvetur adipisicing elit. Enim minus commodi illum, quidem, a deserunt,recusandae magnam repellendus, pariatur accusan-tium tempore! Facere deleniti odit libero minus, repu-diandae maxime tenetur, ipsam error tempore.
					.row
						.column-1
							a(href="/").species-section__link Learn More

				.column-6
					.movement__image
						img(src="./images/deer.jpg", alt="")



	section.human-section
		.container
			.row
				.column-6
					.human-section__image
						img(src="./images/walrus.jpg", alt="")

				.column-6
					h1.human-section__header-text
						span.human-section__header-text--highligted Species are at risk 
						br
						| from 
						span.human-section__header-text--colored human 
						| activities
						
					.row
						.column-1
							p Lorem ipsum dolor sit amet, consectvetur adipisicing elit. Enim minus commodi illum, quidem, a deserunt,recusandae magnam repellendus, pariatur accusan-tium tempore! Facere deleniti odit libero minus, repu-diandae maxime tenetur, ipsam error tempore.
					.row
						.column-1
							a(href="/").human-section__link Learn More

	
	section.contact-section
		.container
			.row
				.column-6
					h1.contact-section__header-text Be updated of 
						br
						span.contact-section__header-text--colored The Wildlife Project.
				
					.row
						.column-1.contact-section--content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident cupiditate in et illum animi adipisci deleniti tempora repellat aliquid vitae!

					.row
						.column-1
							form(action="").contact-section-form
								input(type="text" placeholder="Email Address").contact-section-form__input
								button.contact-section-form__button Submit


				.column-6
					.contact-section__image
						img(src="./images/jungle.png", alt="")