<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="/css/custom-stylesheet.css")
body
	nav#nav-header
		li.nav-header__item.nav-header__logo
			a(href="/")
				img(src="../images/logo.png", alt="")
		
		li.
	main
		
		block content	

	footer
