.banner-section {
    display: flex;
    
    @include breakpoint(desktop) {
        min-height: 80vh;
    }
 
    //.banner-section .banner-section__header-text
    .banner-section__header-text{
        font-size: $banner-header-tablet;
        line-height: 1.3;
        margin: 0;

        @include breakpoint(desktop) {
            font-size: $banner-header;
        }

        @include breakpoint(mobileonly) {
            font-size: 38px;
        }
        

        span {
            // .banner-section .banner-header span.banner-header__text--highligted
            &.banner-header__text--highligted {
                background: $secondaryColor;
                color: #ffffff;
                padding: 4px 15px;
            }
            // .banner-section .banner-header span.banner-header__text--colored
            &.banner-header__text--colored {
                color: $primaryColor;
            }
        }
        
    }

    .banner-section__text {
        // .banner-section .banner-section__text p
        p {
            // line-height: 0.5;
            margin: 0
        }
    }

    button.banner-section__btn {
        border: 0;
        padding: 12px 25px;
        font-weight: 700;
        font-size: 20px;
        cursor: pointer;
    
        // #button.banner-section__btn.banner-section__btn-donate
        &.banner-section__btn--donate {
            background: $primaryColor;
            color: #ffffff; 
        }
        &.banner-section__btn--join {
            background: transparent;
        }
    }

    @extend %row-reverse;

}

%row-reverse {
    @media (max-width: 768px) {
        .column-6 {
            &:first-child {
                order: 2;
            }
        }
    }
}

%text-header {
    font-size: $header-txt-tablet;
    margin: 12px 0;

    @include breakpoint(desktop) {
        font-size: $header-txt;
    }
}

%text-link {
    color: $primaryColor;
    text-decoration: none;
    font-weight: 600;

    i {
        font-size: 13px;
        position: relative;
        top: -5px;
    }
}

.movement-section {
    // .movement-section .movement-section__header-text
    .movement-section__header-text {
        @extend %text-header;

        span {
            // .movement-section .movement-section__header-text span.movement-section__header__text--highligted
            &.movement-section__header__text--highligted {
                background: $secondaryColor;
                color: #ffffff;
                padding: 4px 15px;
            }
            // .movement-section .movement-section__header-text span.movement-section__header__text--colored
            &.movement-section__header__text--colored {
                color: $primaryColor;
            }
        }
    }
    // .movement-section .movement__link
    .movement__link {
        @extend %text-link;
    }
}


.species-section {
    // .species-section .species-section__header-text
    .species-section__header-text {
        @extend %text-header;
        // .species-section .species-section__header-text span.species__header-text--highligted
        span {
            &.species__header-text--highligted {
                background: $primaryColor;
                color: #ffffff;
                padding: 4px 15px;
            }
        }
    }
    // .species-section .species-section__link
    .species-section__link {
        @extend %text-link;
    }

    
    @extend %row-reverse;
    
}


.human-section {
    // .human-section .human-section__header-text
   .human-section__header-text {
        @extend %text-header;

        span {
            &.human-section__header-text--highligted {
                background: $secondaryColor;
                color: #ffffff;
                padding: 4px 15px;
            }
            &.human-section__header-text--colored {
                color: $secondaryColor;
            }
        }
   }

    //.human-section .human-section__link, 
   .human-section__link {
       @extend %text-link;
   }
}


.contact-section {
    background: $contact-bg;
    color: #ffffff;

    .contact-section__header-text {
        @extend %text-header;
    }

    span {
        &.contact-section__header-text--colored {
            color: $primaryColor;
        }
    }
    .contact-section--content{
        color: $contact-text;
    }

    // .contact-section .contact-section-form
    .contact-section-form {
        display: flex;

        @include breakpoint(mobileonly) {
            display: block;
        }

        .contact-section-form__input {
            padding: 12px;
            font-size: 20px;
            width: 100%;

            @include breakpoint(mobileonly) {
               margin: 12px 0;
               font-size: 18px;
            }

        }
        .contact-section-form__button {
            background: $primaryColor;
            color: #ffffff;
            font-weight: 600;
            border: none;
            padding: 12px 62px;
            font-size: 20px;
            cursor: pointer;

            @include breakpoint(mobileonly) {
                width: 100%;
             }
        }
    }

}

