// ========================
// Fonts url
// ========================

@import url('https://fonts.googleapis.com/css?family=Raleway:900');
@import url('https://fonts.googleapis.com/css?family=Raleway:500');

$font-family: 'Raleway', sans-serif;

// =============================
// font size
// =============================
$body-fontSize: 20px;
$banner-header: 70px;
$header-txt: 48px;

// ========================
// Theme color
// ========================
$primaryColor: #47D6A3;
$secondaryColor: #F73166;
$body-text: #20262B;



// ========================
// Additional colors
// ========================
$contact-bg: #20262B;
$contact-text: #8F9294;
$footer-background: #0B0F11;
$footer-text: #848687;
$second-footer: #222628;